<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Dashboard</title>
</head>
<body>
	<th:block th:insert="Header.html"></th:block>
    <h1>Welcome to the HOME PAGE</h1>
    <hr>
    <br>
	<hr>
	<a href="/department" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Add Department</a>
	<a href="/departmentList" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Department List</a>
	<a href="/employee" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;"> Add Employee</a>
	<a href="/employeeList" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;"> Employee List</a>
	<a href="/gallery" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;"> Gallery</a>
	<a href="/upload" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;"> Upload</a>
	<a href="/contact" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Contact</a>
	<a href="/profile" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Profile</a>
	<a href="/logout" style="background-color: darkred; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Logout</a>
</body>
</html>
