<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Login Form</title>
</head>
<body>
	<th:block th:insert="Header.html"></th:block>
	<h1>Login Form</h1>
	<hr>
	
	<p th:if="${message}" style="color: green; font-weight: bold;">[[${message}]]</p>
	<p th:if="${error}" style="color: red;">[[${error}]]</p><br>

	<form th:action="@{/login}" method="post">
		<label>Username :</label>
		<input type="text" name="username"><br>
		<label>Password :</label>
		<input type="password" name="password"><br>
		<input type="submit" value="Login" style="font-size: 1.12rem; background-color: darkgreen; color: whitesmoke; border-radius: 5px; border: none; padding: 4px;">
	</form>
	<hr>
	<a href="/signup" style="background-color: royalblue; color: whitesmoke; border-radius: 5px; border: none; padding: 6px; text-decoration: none; font-size: 1.25rem;">Signup</a>
</body>
</html>
