<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product Gallery Form</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="Header :: navbar"></div>
	<h1>Welcome to the Product Gallery</h1>
	<hr>
	<hr>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
				<h5>Product Gallery</h5>
			</div>
			<div class="card-body">
				<span th:each="p : ${productList}">
					<img border="1" class="m-2" alt="" th:src="@{${p.image}}" width="300" height="300">
				</span>
			</div>
			<div class="card-footer text-center bg-secondary text-white">
				copyright@2026
			</div>
		</div>
	</div>

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>